@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@tailwind utilities;

body {
    @apply text-sm text-white bg-[url(../bg-theme-light.png)] dark:bg-[url(../bg-theme-dark.jpg)] bg-no-repeat bg-cover bg-fixed;
}

input {
    @apply text-left flex items-center
}

.primary-component {
    @apply backdrop-blur-sm bg-white/5 dark:bg-white/5 border border-zinc-400 rounded-xl text-black dark:text-white;
}

.input {
    @apply border border-zinc-400 rounded-xl px-3 py-2 w-full focus:outline-none focus:ring-1 bg-white text-black focus:ring-zinc-900 dark:bg-zinc-900 dark:text-white dark:focus:ring-white;
}

.input-error {
    @apply border border-red-500 rounded-xl px-3 py-2 w-full focus:outline-none focus:ring-0 bg-white text-black dark:bg-zinc-900 dark:text-white dark:focus:ring-white;
}

.label {
    @apply font-medium flex items-center justify-between
}

.span-error {
    @apply text-red-500 font-medium text-right
}

.span-success {
    @apply text-green-500 font-medium text-right
}

.text-error {
    @apply text-red-500 font-medium text-center
}

.link {
    @apply cursor-pointer transition-all hover:scale-101;
}

.primary-button {
    @apply px-[60px] py-2 rounded-3xl cursor-pointer text-lg font-semibold transition-all bg-black text-white dark:bg-white dark:text-black hover:scale-105;
}

input:-webkit-autofill {
    -webkit-text-fill-color: var(--text-color) !important;
    -webkit-box-shadow: 0 0 0 1000px var(--bg-color) inset !important;
}

:root {
    --text-color: #111827;
    --bg-color: white;
}

.dark {
    --text-color: #f9fafb;
    --bg-color: #18181b;
}